:root {
  --primary-green: #00221c;
  --secondary-green: #00bf63;
  --primary-white: #ffffff;
}


.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: ; */
  color: #00bf63;
  /* border: 20px solid #00221c */
}
.signin {
  width: 30%;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
  border: 0.1px solid var(--primary-green);
  border-radius: 10px;
  border: 5px solid var(--primary-green);
}

.signup {
  width: 30%;
  height: 575px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  flex-direction: column;
  border: 0.1px solid var(--primary-green);
  border-radius: 10px;
  border: 5px solid var(--primary-green);
}
.signin label,
.signup label {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.signin input,
.signup input {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  border: 0.1px solid var(--primary-green);
  border-radius: 5px;
}
.signin button,
.signup button {
  border: none;
  width: 50%;
  cursor: pointer;
  /* border: 0.1px solid teal; */
  border-radius: 5px;
  background-color: var(--primary-green);
  color: var(--primary-white);
  height: 30px;
}

.signin button:hover,
.signup button:hover {
  background-color: var(--secondary-green);
  color: var(--primary-white);
  border: 0.1px solid var(--primary-green);
} 

.logo {
  height: 250px;
  width: 250px;
  border-radius: 5px;
}
