.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: var(--primary-green);
  color: white;
}
.logoutButton {
  cursor: pointer;
}
