:root {
  --primary-green: #008545;
  --primary-white: #ffffff;
}

.taskPage {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  margin-top: 50px;
}
.taskInput {
  margin-top: 40px;
  width: 60%;
  height: 150px;
  border: 0.2px solid var(--primary-green);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.taskList {
  width: 60%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
  border: 0.2px solid #008545;
  border-radius: 5px;
  margin-bottom: 100px;
}
.taskListTable {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #008545;
  color: white;
  margin-bottom: 20px;
}
.taskListTable p {
  flex: 1;
  text-align: center;
}
.taskListItem {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0.5px dotted #008545;
}
.taskListItem p {
  text-align: center;
  flex: 1;
}
.taskListHolder {
  width: 80%;
  /* display: flex; */
  /* align-items: start; */
  /* justify-content: flex-start; */
  flex-direction: column;
  margin-top: 50px;
}
.taskList h2 {
  font-weight: normal;
  font-size: 36px;
}
.taskInput button {
  margin-top: 10px;
  width: 15%;
  height: 35px;
  border-radius: 5px;
  background-color: teal;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}
.taskInputHolders {
  width: 100%;
  height: 120px;
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  /* background-color: red; */
}
.taskInputHolders input {
  margin-left: 10px;
  border: 0.2px solid #008545;
  border-radius: 5px;
  width: 200px;
  height: 25px;
}
.taskInputHolders input:focus {
  outline: none;
}
select {
  width: 60px;

  height: 40px;
}
